/* Colors */
:root {
  --c1: #eee;
  --c2: #666;
  --c3: #ccc;
}

/* general */

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

/* menu */
#menu {
  grid-column: 1;
  background: #dfdfdf;
  padding-top: 2em;
  padding-left: 1em;
  font-size: 0.9em;
}

