html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
  display: table;
  font-size: 2em;
}

.horaires {
  display: table-header-group;
}

.atelier {
  display: table-row;
}

.horaires > div, .atelier > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.atelier > .atelier_head {
  text-align: left;
  width: 25em;
  padding-left: 0.5em;
}

.atelier:nth-child(odd) {
  background-color: #ccc;
}
