.menu_inscriptions {
  background-color: white;
}

/* pages */

#pageSelector {
  height: 3em;
  /* box-shadow: inset 0px -5px 5px -4px #666; */
  background: linear-gradient(.25turn, white, #dfdfdf 15%, #dfdfdf 85%, white);
  text-align: center;
}

.pageButton {
  border: none;
  background-color: #ccc;
  position: relative;
  height: 3em;
  width: 5em;
  font-weight: bold;
  position: relative;
  bottom: -0.6em;
  margin: 0 0.5em;
  border-radius: 10% 10% 0 0;
}

.pageButton[data-pagenumber="0"] {
  background-color: white;
}

.page {
  display: none;
}

.page[data-pagenumber="0"] {
  display: block;
}

/* main */
.atelier, .temps {
  display: flex;
}

.atelier {
  flex-wrap: wrap;
}

.atelier .description {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #cccccc;
  border-top: 0;
  display: none;
}

.atelier .description.selected {
  display: block;
}

.atelier_head, .horaire_head {
  width: 8rem;
}

.atelier_head {
  margin: 0.1rem 0 0.1rem 0;
  background: var(--c1);
  color: var(--c2);
  box-shadow: 5px 0px 5px -4px #666;
  z-index: 0;
  border-left: 3px solid;
  border-right: 3px solid var(--c1);
}

.atelier_head:hover {
  background: #ddd;
  border-right-color: #ddd;
}

.atelier:hover .atelier_head {
  border-left-width: 8px;
  border-right-width: 8px;
}

.seances, .horaires {
  display: flex;
  flex-grow: 1;
}

.seance, .horaire {
  width: calc(100% / 7);
  border-right: 1px solid;
}

.seance {
  background: var(--c3);
  border-right-color: var(--c1);
}

.seance:hover {
  background: #ddd;
}

.seance:active {
  background: #eee;
}

.horaire {
  border-right-color: var(--c3);
  color: #777;
}

.horaire_head {
  height: 0.5em;
}

.seance, .horaire, .atelier_head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seance {
  margin: 1% 0 1% 0;
}

/* resume */

#resume hr {
  width: 100%;
  margin: 1.5em 0;
}

#viderPanier {
  border: none;
  float: right;
  background-color: inherit;
  padding: 0;
}

#panier {
  min-height: 20em;
  border-left: 1px solid grey;
  margin: 0 1em;
  padding-left: 1em;
}

.panier_item {
  margin: 0.3em 0;
  padding-top: 2px;
}

.panier_item:hover {
  background: #fff;
}

.cross:hover .panier_item {
  background: #ddd;
}

.cross {
  width: 1em;
  align-self: flex-end;
  float: right;
}

.cross:hover use {
  color: red;
}


/* Finalize popup confirmation */

.finalizePopup {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  padding: 5rem;
}

/* Popup */
.popup {
  --border-radius: 0.3em;
  --progress-bar-height: 0.2em;

  position: fixed;
  top: 20px;
  left: 50%;
  width: 40%;
  max-width: 30em;
  transform: translate(-50%, 0);
  background: #c64444;
  color: #eee;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.popup .main {
 display: flex;
}

.popup svg {
  width: 2em;
  vertical-align: middle;
}

.popup .icon {
  background: #a90d0e;
  padding: 0.5em;
  border-top-left-radius: var(--border-radius);
}

.popup .content {
  padding-left: 1em;
}

.popup .close {
  position: absolute;
  right: 0.2em;
  width: 1em;
  top: 0.2em;
}

/* progress bar */
@keyframes progress-bar {
  from { width: 0 }
  to { width: 100% }
}

.progress {
 height: var(--progress-bar-height);
}

.bar {
 width: 0;
 height: var(--progress-bar-height);
 background: #ee5158;
 animation: 3s linear progress-bar;
}
