#main {
  padding-top: 1em;
}
.client {
  margin: 1em;
}
h4 {
  margin: 0.5em 0;
}
.info {
  margin-left: 1em;
}
.panier::before {
  content: "(";
}
.panier::after {
  content: ")";
}
.seances {
  margin: 0;
}

.client {
  border-left: 3px solid blue;
  padding-left: 1em;
}

.client.printed {
  color: #888;
  border-left: 3px solid #888;
}

.client button {
  float: right;
}

.client button img {
  vertical-align: middle;
}

.menu_reservation {
  background-color: white;
}
