/* Colors */
:root {
  --c1: #eee;
  --c2: #666;
  --c3: #ccc;
}

/* general */

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

/* menu */
#menu {
  grid-column: 1;
  background: #dfdfdf;
  padding-top: 2em;
  padding-left: 1em;
  font-size: 0.9em;
}

.menu_title {
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

.menu_title_content {
  padding-left: 0.5em;
}

.menu_title img {
  width: 1em;
}

.menu_item_head {
  padding: 1em 0 1em 0;
}

.menu_item:hover .menu_item_head {
  background: #eee;
}

.menu_item_head:hover {
  background: #fff !important;
}

span.title {
  display: inline-block;
  width: 80%;
  padding-left: 1em;
  font-weight: bold;
}

.arrow {
  display: inline-block;
  width: 20%;
  text-align: center;
  height: 1em;
  transform: translateY(0.19em);
}

span.content {
  font-weight: normal;
  margin-left: 1em;
  color: #666;
}

.choice {
  display: none;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0 1.5em;
}

.choice li {
  list-style-type: '| ';
  color: #888;
  padding: 0.2em 0 0.2em 0.5em;
  list-style-position: inside;
}

li:hover {
  background: #fff;
}

hr {
  width: 80%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0 auto 0 auto;
}

/* menu -- info */
.menu_info .menu_item_head {
  border-left-width: 3px;
  border-left-style: solid;
  margin: 0.9em 0;
  margin-left: 1em;
  padding: 0.3em 0;
}

.menu_info .title {
  padding-left: 0.5em;
}

.menu_info .menu_item_head:hover {
  background: inherit !important;
}

/* main */
#main {
  grid-column: 2;
  padding: 0 1em;
  box-shadow: -5px 0 5px #cfcfcf;
  z-index: 0;
}

.atelier, .temps {
  display: flex;
}

.atelier_head, .horaire_head {
  width: 8rem;
}

.atelier_head {
  margin: 0.1rem 0 0.1rem 0;
  background: var(--c1);
  color: var(--c2);
  box-shadow: 5px 0px 5px -4px #666;
  z-index: 0;
  border-left: 3px solid;
  border-right: 3px solid var(--c1);
}

.atelier:hover .atelier_head {
  border-left-width: 8px;
  border-right-width: 8px;
}

.seances, .horaires {
  display: flex;
  flex-grow: 1;
}

.seance, .horaire {
  width: calc(100% / 7);
  border-right: 1px solid;
}

.seance {
  background: var(--c3);
  border-right-color: var(--c1);
}

.seance:hover {
  background: #ddd;
}

.seance:active {
  background: #eee;
}

.horaire {
  border-right-color: var(--c3);
  color: #777;
}

.horaire_head {
  height: 0.5em;
}

.seance, .horaire, .atelier_head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seance {
  margin: 1% 0 1% 0;
}

/* résumé */

#resume {
  border-left: 1px solid #ccc;
  grid-column: 3;
  box-shadow: -2px 0 5px #ddd;
}

#resume .title {
  padding: 0 1em;
}

.control {
  padding: 0 1em;
}

.control_item {
  padding: 0.7em 0;
  display: flex;
  align-items: center;
}

.control_item .title {
  padding-left: 0.5em;
}

.control_item img {
  width: 1.2em;
}

#resume hr {
  width: 100%;
  margin: 1.5em 0;
}

#panier {
  padding: 0 1em;
}

.panier_item {
  margin: 0.3em 0;
  padding-top: 2px;
}

.panier_item:hover {
  background: #fff;
}

.cross:hover .panier_item {
  background: #ddd;
}

.cross {
  width: 1em;
  align-self: flex-end;
  float: right;
}

.cross:hover use {
  color: red;
}

/* Popup */
.popup {
  --border-radius: 0.3em;
  --progress-bar-height: 0.2em;

  position: fixed;
  top: 20px;
  left: 50%;
  width: 40%;
  max-width: 30em;
  transform: translate(-50%, 0);
  background: #c64444;
  color: #eee;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.popup .main {
 display: flex;
}

.popup svg {
  width: 2em;
  vertical-align: middle;
}

.popup .icon {
  background: #a90d0e;
  padding: 0.5em;
  border-top-left-radius: var(--border-radius);
}

.popup .content {
  padding-left: 1em;
}

.popup .close {
  position: absolute;
  right: 0.2em;
  width: 1em;
  top: 0.2em;
}

/* progress bar */
@keyframes progress-bar {
  from { width: 0 }
  to { width: 100% }
}

.progress {
 height: var(--progress-bar-height);
}

.bar {
 width: 0;
 height: var(--progress-bar-height);
 background: #ee5158;
 animation: 3s linear progress-bar;
}
