{% extends "base.html" %}

{% block header %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block menu %}
  <div class="menu_item">
      {{ use('list') }}
      <span class="title">Ateliers</span>
  </div>
{% endblock %}

{% block content %}
  <div id="main">
  </div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block template %}
<template id="atelier-template">
  <div id="ateliere">
  </div>
</template>
{% endblock %}
