<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>GesTickets2</title>

        <!-- Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block styles %}{% endblock %}
        <style>
          {% for pole in poles %}
          [data-pole="{{ pole.id }}"] {
            border-left-color: #{{ pole.couleur }};
          }
          {% endfor %}
        </style>

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" id="favicon">
    </head>

    <body>
      <div id="menu">
        <div class="menu_group">
          <h2 class="menu_title"
              ><img src="{{ url_for('static', filename='img/grid.svg') }}"
            ><span class="menu_title_content">Vue</span
          ></h2>
          <a href="/">
            <div class="menu_inscriptions menu_item">
              <div class="menu_item_head"
                ><span class="title">Inscriptions</span
                ><img src="{{ url_for('static', filename='img/chevron-right.svg') }}" class="arrow"
              ></div>
            </div>
          </a>
          <a href="/reservations">
            <div class="menu_reservation menu_item">
              <div class="menu_item_head"
                ><span class="title">Réservations</span
                ><img src="{{ url_for('static', filename='img/chevron-right.svg') }}" class="arrow"
              ></div>
            </div>
          </a>
        </div>

        <div class="menu_group">
          <h2 class="menu_title"
              ><img src="{{ url_for('static', filename='img/settings.svg') }}"
            ><span class="menu_title_content">Préférence</span
          ></h2>
          <div class="menu_date menu_item" onclick="menu_toggle(this);">
            <div class="menu_item_head"
              ><span class="title">Date<span class="content">Samedi</span></span
              ><img src="{{ url_for('static', filename='img/chevron-down.svg') }}" class="arrow"
            ></div>
            <ul class="choice">
              <li onclick="select(this);">Samedi</li>
              <li onclick="select(this);">Dimanche</li>
            </ul>
          </div>
          <div class="menu_imprimante menu_item" onclick="menu_toggle(this);">
            <div class="menu_item_head"><span class="title">Imprimante<span class="content">1</span></span><img src="{{ url_for('static', filename='img/chevron-down.svg') }}" class="arrow"></div>
            <ul class="choice">
              <li onclick="select(this);">1</li>
              <li onclick="select(this);">2</li>
              <li onclick="select(this);">3</li>
              <li onclick="select(this);">4</li>
            </ul>
          </div>
        </div>

        <div class="menu_info menu_group">
          <h2 class="menu_title"
              ><img src="{{ url_for('static', filename='img/info.svg') }}"
            ><span class="menu_title_content">Infos</span
          ></h2>
          {% for pole in poles %}
            <div class="menu_item_head" data-pole="{{ pole.id }}"
              ><span class="title">{{ pole.nom }}</span
            ></div>
          {% endfor %}
        </div>
      </div>

      <div id="main">
        {% block main %}{% endblock %}
      </div>

      <div id="resume">
        {% block sidebar %}{% endblock %}
      </div>

      {% block extra %}{% endblock %}
    </body>

    <script>
      function menu_toggle(el) {
        console.log(el);
        if (el.querySelector('.choice').style.display == 'block') {
          el.querySelector('.choice').style.display = 'none';
        } else {
          el.querySelector('.choice').style.display = 'block';
        }
      }

      function select(el) {
        el.closest('.menu_item').querySelector('.content').innerText = el.innerText;
      }
    </script>
    <script src="{{ url_for('static', filename='js/js.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/client.js') }}"></script>

    <template id="panier_item-template">
      <div class="panier_item">
        <span class="titre"></span><span class="content"></span>
        <svg
          onmouseenter="this.parentNode.style.background = '#ddd'"
          onmouseleave="this.parentNode.style.background = '#fff'"
          onclick="enleverDuPanier(this)"
          class="cross"
          viewBox="0 2 24 24">
          <use xlink:href="{{ url_for('static', filename='img/x.svg') }}#main"></use>
        </svg>
      </div>
    </template>

    <template id="popup_error-template">
      <div class="popup">
        <div class="main">
          <div class="icon"><svg
            viewBox="0 0 24 24"
            ><use xlink:href="{{ url_for('static', filename='img/x-circle.svg') }}#main"></use></svg></div>
          <p class="content">
            La séance est pleine
          </p>
        </div>
        <div class="progress"><div class="bar"></div> </div>

        <svg class="close" viewBox="0 2 24 24"
          onclick="this.parentNode.remove(); clearTimeout(popupTimeout)"
          ><use xlink:href="{{ url_for('static', filename='img/x.svg') }}#main"></use></svg>
      </div>
    </template>
</html>
