<!DOCTYPE html>
<html>
    <head>
        <title>Dispo</title>
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/dispo.css">
        <script src="/static/js/dispo.js" defer></script>
    </head>
    <body>
      <div class=horaires>
        <div></div>
        {% for horaire in horaires %}
          <div>{{ horaire }}</div>
        {% endfor %}
      </div>
      {% for atelier in ateliers %}
        <div class=atelier>
          <div class=atelier_head>
            {{ atelier.numero }} - {{ atelier.nom }}
          </div>
          {% for horaire in horaires %}
            {% set seance = atelier.seances[date + ' ' + horaire] %}
            <div class=seance>
              {% if seance %}
                {{ seance.placesRestantes }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <div class=horaires>
        <div></div>
        {% for horaire in horaires %}
          <div>{{ horaire }}</div>
        {% endfor %}
      </div>
    </body>
</html>
