{% extends "base.html" %}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">{% endblock %}
{% block main %}
    {% for atelier in ateliers %}
      <div class="temps">
        <div class="horaire_head"></div>
        {% if loop.index is odd and not loop.first %}
          <div class="horaires">
            {% for horaire in horaires %}
              <div class="horaire">
                <span>{{ horaire | ptime }}</span>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="atelier">
        <div class="atelier_head" data-pole="{{ atelier.pole }}" onclick="selectDescription(this)">
          <h3>{{ atelier.numero }} - {{ atelier.nom }}</h3>
        </div>
        <div class="seances" data-atelier="{{ atelier.numero }} - {{ atelier.nom }}">
          {% for horaire in horaires %}
          {% set seance = atelier.seances[date + ' ' + horaire] %}
          {% if seance %}
          <div
            class="seance"
            onclick="ajouterAuPanier(this);"
            data-id="{{ seance.id }}"
            data-horaire="{{ utils.get_naturalDatetime(seance['datetime']) }}"
          >
              {{ seance.placesRestantes }}
            </div>
          {% else %}
            <div class="seance"></div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="description">
          {{ atelier.description }}
        </div>
      </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
<span>
  <h3 class="title">Panier <span id=panierId>{{ panierId }}</span>
    <button class="control_item" id=viderPanier onclick="viderPanier()"><img src="{{ url_for('static', filename='img/trash-2.svg') }}" /></button>
  </h3>
</span>
  <div id="panier"></div>
  <div class="control">
    <div class="control_item" onclick="showPaiement()"><img src="{{ url_for('static', filename='img/check-circle.svg') }}" /><span class="title">Valider</span></div>
    {% if admin %}
    <div class="control_item" onclick="showReserver()"><img src="{{ url_for('static', filename='img/user-check.svg') }}" /><span class="title">Réserver</span></div>
    {% endif %}
  </div>
{% endblock %}

{% block extra %}
  <div id="paiement" class="finalizePopup">
      <h1>Paiement</h1>
      <form method="post" action="/paiement" onsubmit="paiement()">
          <div>
              Code Postal : <input id="codePostal" name="codePostal" type="number" placeholder="31…" autofocus>
          </div>
          <div>
              <label for="modePaiment">Mode de paiement: </label>
              <label><input type="radio" name="modePaiement" value="0" required checked/>Espèce</label>
              <label><input type="radio" name="modePaiement" value="1" required/>Chèque</label>
          </div>
          <div>
              <input type="submit" value="Ok">
          </div>
      </form>
      <button onclick="hidePaiement()">Fermer</button>
  </div>

  <div id="reserver" class="finalizePopup">
      <h1>Réserver</h1>
      <form method="post" action="/reserver">
          <div>
            <label for="nom">Nom: </label><input type=text name="nom" required/>
            <label for="prenom">Prénom: </label><input type=text name="prenom" required/>
            <label for="email">E-Mail: </label><input type=email name="email" required/>
          <div>
              Code Postal : <input id="codePostal" name="codePostal" type="number" placeholder="31…">
          </div>
          <div>
              <label for="modePaiment">Mode de paiement: </label>
              <label><input type="radio" name="modePaiement" value="0" required checked/>Espèce</label>
              <label><input type="radio" name="modePaiement" value="1" required/>Chèque</label>
          </div>
          <div>
              <input type="submit" value="Ok">
          </div>
      </form>
      <button onclick="hideReserver()">Fermer</button>
  </div>
{% endblock %}
