{% extends "base.html" %}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/reservations.css') }}">{% endblock %}
{% block main %}
  {% for client in clients %}
  <div class="client{% if client.printed %} printed{% endif %}">
    <h4>
      <span class=panier>Panier: {{ client.id }}</span>
      <span class=nom>{{ client.nom }}</span>
      <span class=prenom>{{ client.prenom }}</span>
      <button onclick="printPanier({{ client.id }}, this)">
        <img src="{{ url_for('static', filename='img/printer.svg') }}" /><span> Imprimer</span>
      </button>
    </h4>
    <div class=info>
      EMail: <span class=email>{{ client.email }}</span>
    </div>
    <ul class=seances>
      {% for seance in seances[client['id']] %}
      <li>{{ utils.get_naturalDatetime(seance.datetime) }}, {{ seance.ateliernumero }} - {{ seance.nom }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
{% endblock %}
