.Infobox {
  margin-bottom: 16px;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: white !important;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  display: block;
}

.fa.fa-home {
  display: block;
  background-clip: padding-box;
  margin-right: 15px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  color: #515d6e;
  line-height: 60px;
  text-align: center;
  font-size: 4.4em;
  vertical-align: baseline;
  position: absolute;
}

.heading {
  display: block;
  position: relative;
  color: #515d6e;
  text-align: right;
  font-size: 1.2em;
  font-weight: 300;
  z-index: 10;
  text-transform: uppercase;
  font: inherit;
  vertical-align: baseline;
}

.value {
  display: block;
  position: relative;
  color: #515d6e;
  text-align: right;
  z-index: 10;
  vertical-align: baseline;
}

