/* Colors */
:root {
  --c1: #eee;
  --c2: #666;
  --c3: #ccc;
}

/* general */

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

/* menu */
#menu {
  grid-column: 1;
  background: #dfdfdf;
  padding-top: 2em;
}

.menu_item_head {
  padding: 1em 0 1em 0;
}

.menu_item:hover .menu_item_head {
  background: #eee;
}

.menu_item_head:hover {
  background: #fff !important;
}

span.title {
  display: inline-block;
  width: 80%;
  padding-left: 1em;
  font-weight: bold;
}

.arrow {
  display: inline-block;
  width: 20%;
  text-align: center;
  height: 1em;
  transform: translateY(0.19em);
}

span.content {
  font-weight: normal;
  margin-left: 1em;
  color: #666;
}

.choice {
  display: none;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0 1.5em;
}

.choice li {
  list-style-type: '| ';
  color: #888;
  padding: 0.2em 0 0.2em 0.5em;
  list-style-position: inside;
}

li:hover {
  background: #fff;
}

hr {
  width: 80%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0 auto 0 auto;
}

/* main */
#main {
  grid-column: 2;
  padding: 0 1em;
  box-shadow: -5px 0 5px #cfcfcf;
  z-index: 0;
}

.atelier, .temps {
  display: flex;
}

.atelier_head, .horaire_head {
  width: 8rem;
}

.atelier_head {
  margin: 0.1rem 0 0.1rem 0;
  background: var(--c1);
  color: var(--c2);
  box-shadow: 5px 0px 5px -4px #666;
  z-index: 0;
  border-left: 2px solid;
  border-left-color: blue;
  border-right: 2px solid var(--c1);
}

.atelier:hover .atelier_head {
  border-left-width: 5px;
  border-right-width: 5px;
}

.seances, .horaires {
  display: flex;
  flex-grow: 1;
}

.seance, .horaire {
  width: calc(100% / 7);
  border-right: 1px solid;
}

.seance {
  background: var(--c3);
  border-right-color: var(--c1);
}

.seance:hover {
  background: #ddd;
}

.seance:active {
  background: #eee;
}

.horaire {
  border-right-color: var(--c3);
  color: #777;
}

.horaire_head {
  height: 0.5em;
}

.seance, .horaire, .atelier_head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seance {
  margin: 1% 0 1% 0;
}

/* résumé */

#resume {
  border-left: 1px solid #ccc;
  grid-column: 3;
  box-shadow: -2px 0 5px #ddd;
}

#resume .title {
  padding: 0 1em;
}

.control {
  padding: 0 1em;
}

.control_item {
  padding: 0.7em 0;
  display: flex;
  align-items: center;
}

.control_item .title {
  padding-left: 0.5em;
}

.control_item img {
  width: 1.2em;
}

#resume hr {
  width: 100%;
  margin: 1.5em 0;
}

#panier {
  padding: 0 1em;
}

.panier_item {
  margin: 0.3em 0;
  padding-top: 2px;
}

.panier_item:hover {
  background: #fff;
}

.cross:hover .panier_item {
  background: #ddd;
}

.cross {
  width: 1em;
  align-self: flex-end;
  float: right;
}

.cross:hover use {
  color: red;
}
