<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>GesTickets2</title>

        <!-- Styles -->
        <link rel="stylesheet" href="assets/css/styles.css">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png" id="favicon">
    </head>

    <body>
      <div id="menu">
        <div class="reservation menu_item">
          <div class="menu_item_head"><span class="title">Réservations</span><img src="/assets/img/chevron-right.svg" class="arrow"></div>
        </div>
        <hr>
        <div class="date menu_item" onclick="menu_toggle(this);">
          <div class="menu_item_head"><span class="title">Date<span class="content">Samedi</span></span><img src="/assets/img/chevron-down.svg" class="arrow"></div>
          <ul class="choice">
            <li onclick="select(this);">Samedi</li>
            <li onclick="select(this);">Dimanche</li>
          </ul>
        </div>
        <hr />
        <div class="imprimante menu_item" onclick="menu_toggle(this);">
          <div class="menu_item_head"><span class="title">Imprimante<span class="content">1</span></span><img src="/assets/img/chevron-down.svg" class="arrow"></div>
          <ul class="choice">
            <li onclick="select(this);">1</li>
            <li onclick="select(this);">2</li>
            <li onclick="select(this);">3</li>
            <li onclick="select(this);">4</li>
          </ul>
        </div>
      </div>
      <div id="main">
        {% for atelier in ateliers %}
          <div class="temps">
            <div class="horaire_head"></div>
            {% if loop.index is odd and not loop.first %}
              <div class="horaires">
                {% for horaire in horaires %}
                  <div class="horaire">
                    <span>{{ horaire | time_split }}</span>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="atelier">
            <div class="atelier_head">
              <h3>{{ atelier.nom }}</h3>
            </div>
            <div class="seances" data-atelier="{{ atelier.nom }}">
              {% for horaire in horaires %}
              {% set seance = atelier.seances[horaire | time_split] %}
              {% if seance %}
              <div
                class="seance"
                onclick="ajouterAuPanier(this);"
                data-id="{{ seance.id }}"
                data-horaire="{{ seance['datetime'].split(' ')[1] }}"
              >
                  {{ seance.id }}
                </div>
              {% else %}
                <div class="seance"></div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="resume">
        <h3 class="title">Panier</h3>
        <div class="control">
          <div class="control_item"><img src="/assets/img/plus-circle.svg" /><span class="title">Nouveau</span></div>
          <div class="control_item"><img src="/assets/img/trash-2.svg" /><span class="title">Supprimer</span></div>
          <div class="control_item"><img src="/assets/img/dollar-sign.svg" /><span class="title">Paiement</span></div>
        </div>
        <hr />
        <div id="panier">
          <div class="content"></div>
        </div>
      </div>
    </body>

    <script>
      function menu_toggle(el) {
        console.log(el);
        if (el.querySelector('.choice').style.display == 'block') {
          el.querySelector('.choice').style.display = 'none';
        } else {
          el.querySelector('.choice').style.display = 'block';
        }
      }

      function select(el) {
        el.closest('.menu_item').querySelector('.content').innerText = el.innerText;
      }
    </script>
    <script src="assets/js/js.cookie.js"></script>
    <script src="assets/js/script.js"></script>
    <script>
        if (Cookies.get('panierId')) {
            majInterfacePanier();
        }
    </script>

    <template id="panier_item-template">
      <div class="panier_item">
        <span class="titre"></span><span class="content"></span>
      </div>
    </template>
</html>
